<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Demanda</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Añadir Demanda</h1>
    <form class="form-horizontal" action="#" th:action="@{/demanda/add}"
          th:object="${demanda}" method="post">

        <div class="form-group row">
            <!--<label class="control-label col-sm-2" for="estudiante">DNI Estudiante:</label> -->
            <div class="col-sm-6">
                <input type="hidden" class="form-control" id="estudiante" th:field="*{estudiante}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" for="horas">Horas:</label>
            <div class="col-sm-6">
                <input type="number" min=1 class="form-control" id="horas" th:field="*{horas}"/>
                <div class="error" th:if="${#fields.hasErrors('horas')}" th:errors="*{horas}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" for="iniFecha">Fecha de Inicio:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="iniFecha" th:field="*{iniFecha}"/>
                <div class="error" th:if="${#fields.hasErrors('iniFecha')}" th:errors="*{iniFecha}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" for="finFecha">Fecha de Final:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="finFecha" th:field="*{finFecha}"/>
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Skill</label>

            <div class="col-sm-6">
                <td><select class="form-control" id="sel1" type="value" th:field="*{skill}">
                    <tr>
                        <option th:each="s: ${skills}" th:value="${s.idSkill}">
                            <td th:text="${s.nombre}"></td>
                            <td th:text="${s.nivel}"></td>
                        </option>
                    </tr>
                </select>
                </td>
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-sm-4" for="descripcion">Descripción:</label>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" id="descripcion" maxlength="200" rows="4" cols="50"
                          th:field="*{descripcion}"></textarea>
                <div class="error" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

            </div>
        </div>

        <div class="form-group row">
            <div class="botones botonesLinea">
                <button type="submit" class="btn btn-success">Añadir Demanda</button>
            </div>
        </div>

    </form>
</div>
<div th:replace="../templates/fragments/navUser"></div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>