<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Demandas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navUser"></div>
<div class="container">
    <h1>Demandas</h1>

    <div th:if="${#lists.isEmpty(misDemandas)}" layout:fragment="content">
        Nadie demanda ninguna clase.
    </div>

    <table th:if="${not #lists.isEmpty(misDemandas)}" class="table table-striped">
        <p>Estas son las demandas relacionadas con la habilidad requerida en la oferta creada</p>
        <thead>
        <tr>
            <th>Estudiante</th>
            <th>Skill</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Final</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="demanda: ${misDemandas}">
            <td th:text="${demanda.estudiante}"></td><!-- Bindeao el nif con el estudiante en la consulta sql -->
            <td th:text="${{demanda.nombreSkill}}"></td>
            <td th:text="${{demanda.nivelSkill}}"></td>
            <td th:text="${demanda.horas}"></td>
            <td th:text="${demanda.iniFecha}"></td>
            <td th:text="${{demanda.finFecha}}"></td>
            <td th:text="${{demanda.descripcion}}"></td>
            <td> <a th:href="@{/colaboracion/addColaboracionDemanda/{idDemanda}(idDemanda=${demanda.idDemanda})}" class="btn btn-warning" role="button">Colabora</a></td>
        </tr>
        </tbody>
    </table>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-4">
            <a role="button" class="btn btn-primary" th:href="@{/oferta/listMisOfertas}">Añade oferta sin colaborar</a>
        </div>
    </div>
</div>
</body>
</html>