<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Demandas</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div th:replace="../templates/fragments/navPublic"></div>
<div class="container">
    <h1>Demandas de los Estudiantes</h1>

    <div th:replace="../templates/fragments/filtroDemandas"></div>

    <div th:if="${#lists.isEmpty(demandas)}" layout:fragment="content">
        Nadie demanda ninguna clase.
    </div>

<div>
    <section class="listado" th:if="${not #lists.isEmpty(demandas)}">
    <article th:each="demanda: ${demandas}" class="anuncio">
        <figure class="estudiante">
            <img th:src="${demanda.rutaImgSkill}" class="fotoSkill">
        </figure>
        <div class="info">
            <hgroup>
                <table>
                    <tr><td><img th:src="${demanda.rutaImg}" class="fotoPerfil"></td></tr>
                    <tr><td><h5 class="nombre" th:text="${demanda.estudiante}"></h5></td></tr>
                </table>
                <div class="descripcion">
                    <p th:text="${{demanda.descripcion}}"></p>
                </div>
            </hgroup>
        </div>
        <div class="botones">
            <table>
                <tr><td><p class="etiquetaSkill">Skill: </p></td> <td><p class="nombreSkill" th:text="${{demanda.nombreSkill}}"></p></td></tr>
                <tr><td><p class="etiquetaNivel">Nivel: </p></td><td><p class="nivelSkill" th:text="${demanda.nivelSkill}"></p></td></tr>
                <tr><td><p class="etiquetaHoras">Horas: </p></td> <td><p class="horas" th:text="${{demanda.horas}}"></p></td></tr>
                <tr><td><p class="etiquetaInicio">Inicio: </p></td><td><p class="iniFecha" th:text="${demanda.iniFecha}"></p></td></tr>
                <tr><td><p class="etiquetaFinal">Final: </p></td> <td><p class="finFecha" th:text="${demanda.finFecha}"></p></td></tr>
            </table>
            <div>
            <a class="btn btn-secondary" role="button" th:href="@{/loginColaboraDemanda/{idDemanda}(idDemanda=${demanda.idDemanda})}">Colaborar</a>
            </div>
        </div>
    </article>
    </section>
</div>
</div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>