<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Mis Demandas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div th:replace="../templates/fragments/navUser"></div>
<div class="container">
    <h1>Mis Demandas</h1>
    <div>
    <a href="add" class="btn btn-success" role="button">Añade Demanda</a>
    </div>
    <div th:if="${#lists.isEmpty(misDemandas)}" layout:fragment="content">
        No tienes demandas.
    </div>

    <div>
        <section class="listado" th:if="${not #lists.isEmpty(misDemandas)}">
            <article th:each="demanda: ${misDemandas}" class="anuncio">
                <figure class="estudiante">
                    <img src="/imagenes/skill/Yoga.jfif" class="fotoSkill">
                </figure>
                <div class="info">
                        <p th:text="${{demanda.descripcion}}"></p>
                        <table>
                            <tr><td><p class="etiquetaSkill">Skill: </p></td> <td><p class="nombreSkill" th:text="${{demanda.nombreSkill}}"></p></td></tr>
                            <tr><td><p class="etiquetaNivel">Nivel: </p></td><td><p class="nivelSkill" th:text="${demanda.nivelSkill}"></p></td></tr>
                        </table>
                </div>
                <div class="botones">
                    <table>
                        <tr><td><p class="etiquetaHoras">Horas: </p></td> <td><p class="horas" th:text="${{demanda.horas}}"></p></td></tr>
                        <tr><td><p class="etiquetaInicio">Inicio: </p></td><td><p class="iniFecha" th:text="${demanda.iniFecha}"></p></td></tr>
                        <tr><td><p class="etiquetaFinal">Final: </p></td> <td><p class="finFecha" th:text="${demanda.finFecha}"></p></td></tr>
                    </table>
                    <div>
                        <a th:href="@{/demanda/update/{nom}(nom=${demanda.idDemanda})}" class="btn btn-warning" role="button">Edita</a>
                        <a th:href="@{/demanda/delete/{nom}/(nom=${demanda.idDemanda})}" class="btn btn-danger" role="button">Esborra</a>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>
