<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Usuario Nuevo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navSKP"></div>
<h2>Crear Usuario Nuevo</h2>
<form action="#" th:action="@{/usuario/add}"
      th:object="${usuario}" method="post">
    <table>
        <tr>
            <td><label>Nombre de Usuario</label></td>
            <td><input type="text" th:field="*{username}" placeholder="Username" maxlength="50" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="text" th:field="*{password}" placeholder="Password" maxlength="50" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td><label>SKP</label></td>
            <td><span>
                   <input type="radio" th:field ="*{skp}"
                          value=1 id="skpT" />
                   <label for="skpT">SI</label>
               </span>
                <span>
                   <input type="radio" th:field ="*{skp}"
                          value=0 id="skpF" checked />
                   <label for="skpF">NO</label>
               </span>
            </td>
        </tr>
        <tr>
            <td><label>Activo</label></td>
            <td><span>
                   <input type="radio" th:field ="*{active}"
                          value=1 id="activeT" checked />
                   <label for="activeT">SI</label>
               </span>
                <span>
                   <input type="radio" th:field ="*{active}"
                          value=0 id="activeF" />
                   <label for="activeF">NO</label>
               </span>
            </td>
        </tr>
        <tr>
            <td><label>Nif</label></td>
            <td><select id="sel1" type="value" th:field="*{nif}">
            <option th:each="e: ${estudiantes}" th:value="${e.nif}" th:text="${e.nif}"></option>
                </select></td>
            <td th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><textarea th:field="*{descripcion}" maxlength="200"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input class="btn btn-success" type="submit" value="Añade Usuario" /></td>
        </tr>
    </table>
</form>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>
