<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Usuarios</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Gestionar Usuarios</h1>

    <div th:if="${anadido != null}" class="alert alert-success text-center alerta" role="alert">
        <div class="text-center"><p>Se ha <b>añadido</b> correctamente al usuario</p>
            <h5 th:text="${anadido}" class="negrita"></h5>
        </div>
    </div>

    <div th:if="${editado != null}" class="alert alert-success text-center alerta" role="alert">
        <div class="text-center"><p>Se ha <b>editado</b> correctamente al usuario</p>
            <h5 th:text="${editado}" class="negrita"></h5>
        </div>
    </div>

    <div th:if="${eliminado != null}" class="alert alert-success text-center alerta" role="alert">
        <div class="text-center"><p>Se ha <b>eliminado</b> correctamente el usuario</p>
            <h5 th:text="${eliminado}" class="negrita"></h5>
        </div>
    </div>

    <a href="add" class="btn btn-primary botonesAñadir" role="button">Añadir usuario</a>
    <div th:if="${#lists.isEmpty(usuarios)}" class="error">
        No hi ha usuaris en la base de dades
    </div>


    <table th:unless="${#lists.isEmpty(usuarios)}" class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>SKP</th>
            <th>Estado</th>
            <th>NIF</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario: ${usuarios}">
            <td th:text="${usuario.username}"></td>
            <td th:if="${usuario.skp}">SKP</td>
            <td th:if="${!usuario.skp}">Alumno</td>
            <td th:if="${usuario.active}">Activo</td>
            <td th:if="${!usuario.active}">No activo</td>
            <td th:text="${usuario.nif}"></td>
            <td th:text="${usuario.descripcion}"></td>
            <td><a th:href="@{/usuario/update/{username}(username=${usuario.username})}" class="btn btn-warning" role="button">Editar</a>
            </td>
            <td><a th:href="@{/usuario/delete/{username}(username=${usuario.username})}" class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="../templates/fragments/navSKP"></div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>
