<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Usuario</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div th:replace="../templates/fragments/navSKP"></div>
<div class="container">
<h1>Modificar Usuario</h1>
<form class="form-horizontal" action="#" th:action="@{/usuario/update}"
      th:object="${usuario}" method="post">

    <div class="form-group row">
        <div class="col-sm-7">
            <input class="form-control" type="hidden" readonly th:field="*{password}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-4">Username:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" readonly th:field="*{username}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-4">SKP:</label>
        <div class="col-sm-6">
            <table>
            <td><span>
                   <input type="radio" th:field ="*{skp}"
                          value=1 id="skpT" />
                   <label for="skpT">SI</label>
               </span>
                <span>
                   <input type="radio" th:field ="*{skp}"
                          value=0 id="skpF" checked />
                   <label for="skpF">NO</label>
               </span>
            </td>
            </table>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-4">Activo:</label>
        <div class="col-sm-6">
            <table>
                <td><span>
                   <input type="radio" th:field ="*{active}"
                          value=1 id="activeT" checked />
                   <label for="activeT">SI</label>
               </span>
                    <span>
                   <input type="radio" th:field ="*{active}"
                          value=0 id="activeF" />
                   <label for="activeF">NO</label>
               </span>
                </td>
            </table>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-4">NIF:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" readonly th:field="*{nif}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-4">Descripción:</label>
        <div class="col-sm-6">
            <textarea type="text" class="form-control" id="descripcion" maxlength="200" rows="4" cols="50" th:field="*{descripcion}"></textarea>
        </div>
    </div>

    <div class="botones botonesLinea">
        <!--<button type="submit" class="btn btn-success" role="button">Modificar</button>-->
        <input type="submit" class="btn btn-success" value="Modificar" />
        <a th:href="@{/usuario/passwd/{username}(username=${usuario.username})}" class="btn btn-primary" role="button">Cambiar
            contraseña</a>

    </div>
</form>
    </div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>
