<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Skill</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Añadir Skill</h1>
    <form class="form-horizontal" action="#" th:action="@{/skill/add}"
          th:object="${skill}" method="post" enctype="multipart/form-data">

        <div class="form-group row">
            <div class="col-sm-6">
                <input class="form-control" type="hidden" readonly th:field="*{idSkill}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <input class="form-control" type="hidden" readonly th:field="*{activo}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" for="nombre">Nombre:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Nivel:</label>

            <div class="col-sm-6">
                <td><select class="form-control" id="sel1" type="value" th:field="*{nivel}">
                    <tr>
                        <option th:value="Experto">Experto</option>
                        <option th:value="Medio">Medio</option>
                        <option th:value="Iniciación">Iniciación</option>
                    </tr>
                </select>
                </td>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" for="descripcion">Descripción:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4" >Logo:</label>
            <div class="col-sm-6">
                <input class="form-control" type="file" name="foto"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <input class="form-control" type="hidden" readonly th:field="*{activo}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input class="form-control" type="hidden" readonly th:field="*{rutaim}"/>
            </div>
        </div>


        <div class="form-group row">
            <div class="botones botonesLinea">
                <button type="submit" class="btn btn-success">Añadir Skill</button>
            </div>
        </div>


    </form>
</div>
<div th:replace="../templates/fragments/navSKP"></div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>