<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Mis Colaboraciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navMiCuenta"></div>
<div class="container">
    <h1>Mis Colaboraciones</h1>

    <div th:if="${#lists.isEmpty(misColaboraciones)}" layout:fragment="content">
        No tienes colaboraciones.
    </div>

    <table th:if="${not #lists.isEmpty(misColaboraciones)}" class="table table-striped">
        <thead>
        <tr>

            <th>Ofertante</th>
            <th>Demandante</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Final</th>
            <th>Activa</th>
            <th>Rate</th>
            <th>Comentario</th>
            <th>Horas</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="colaboracion: ${misColaboraciones}">
            <td th:text="${colaboracion.nombreApellidoOfertante}"></td>
            <td th:text="${colaboracion.nombreApellidoDemandante}"></td>
            <td th:text="${colaboracion.iniFecha}"></td>
            <td th:text="${{colaboracion.finFecha}}"></td>
            <td th:text="${{colaboracion.activa}}"></td>
            <td th:text="${{colaboracion.rate}}"></td>
            <td th:text="${{colaboracion.comentario}}"></td>
            <td th:text="${colaboracion.horas}"></td>
            <td><a th:href="@{/colaboracion/delete/{idColaboracion}/(idColaboracion=${colaboracion.idColaboracion})}" class="btn btn-danger" role="button">Anular</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>