<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Mi perfil</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navMiCuenta"></div>
<div class="container">
    <h1>Mi perfil</h1>

    <table  class="table table-striped">
        <thead>
        <tr><td>Nif</td> <td th:text="${estudiante.nif}"></td></tr>
        <tr><td>Nombre</td><td th:text="${estudiante.nombre}"></td></tr>
        <tr><td>Apellido</td><td th:text="${estudiante.apellido}"></td></tr>
        <tr><td>Email</td><td th:text="${estudiante.email}"></td></tr>
        <tr><td>Grado</td><td th:text="${estudiante.grado}"></td></tr>
        <tr><td>Edad</td><td th:text="${estudiante.edad}"></td></tr>
        <tr><td>Sexo</td><td th:text="${estudiante.sexo}"></td></tr>
        <tr><td>Dirección</td><td th:text="${estudiante.direccion}"></td></tr>
        <tr><td>Horas</td><td th:text="${estudiante.horas}"></td></tr>
        </thead>
    </table>
    <a th:href="@{/estudiante/passwdUser/{nif}(nif=${estudiante.nif})}" class="btn btn-danger" role="button">Canvia contrasenya</a>
    <a th:href="@{/estudiante/update/{nif}(nif=${estudiante.nif})}" class="btn btn-warning" role="button">Edita</a>

</div>
</body>
</html>