<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Perfil</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Modificar Perfil</h1>
    <form class="form-horizontal" action="#" th:action="@{/estudiante/update}"
          th:object="${estudiante}" method="post" enctype="multipart/form-data">

        <div class="form-group row">
            <label class="control-label col-sm-4">NIF:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" readonly th:field="*{nif}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Nombre:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" th:field="*{nombre}"/>
                <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
        </div>

        <div class="form-group row">

            <label class="control-label col-sm-4">Apellido:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" th:field="*{apellido}"/>
                <div class="error" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-4">Email:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" readonly th:field="*{email}"/>

            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Grado:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" th:field="*{grado}"/>
                <div class="error" th:if="${#fields.hasErrors('grado')}" th:errors="*{grado}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Edad:</label>
            <div class="col-sm-6">
                <input class="form-control" type="number" readonly th:field="*{edad}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Sexo:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" readonly th:field="*{sexo}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Dirección:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" th:field="*{direccion}"/>
                <div class="error" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Horas:</label>
            <div class="col-sm-6">
                <input class="form-control" type="number" readonly th:field="*{horas}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-4">Cambiar Foto:</label>
            <div class="col-sm-6">
                <input class="form-control" type="file" name="imagen"/>
            </div>

        </div>
        <br>


        <div class="botones botonesLinea">
            <button type="submit" class="btn btn-success" role="button">Modificar</button>
            <a th:href="@{/estudiante/passwdUser/{nif}(nif=${estudiante.nif})}" class="btn btn-primary" role="button">Cambiar
                contraseña</a>

        </div>

    </form>

</div>
<div th:replace="../templates/fragments/navUser"></div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>