<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Demanda</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <form class="form-horizontal" th:if="${list != null && list == 'inicioDemandas'}"
          th:action="@{/demanda/buscarDemandas/0/}"
          th:object="${demanda}" method="GET">



        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="button" th:href="@{/demanda/list}">Lista sin filtrar</a>

    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('demandasUser')}"
          th:action="@{/oferta/buscarDemandas/1/}"
          th:object="${demanda}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/demanda/listDemandasUser}">Lista sin filtrar</a>

    </form>


    <form class="form-horizontal" th:if="${list != null && list.equals('misDemandas')}"
          th:action="@{/demanda/buscarDemandas/2/}"
          th:object="${demanda}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/demanda/listMisDemandas}">Lista sin filtrar</a>

    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('skpDemandas')}"
          th:action="@{/demanda/buscarDemandas/3/}"
          th:object="${demanda}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/demanda/listSKP}">Lista sin filtrar</a>

    </form>
</div>
</body>
</html>