<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Oferta</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <form class="form-horizontal" th:if="${list != null && list == 'inicioOfertas'}"
          th:action="@{/oferta/buscarOfertas/0/}"
          th:object="${oferta}" method="GET">



        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="iniFecha" name="iniFecha" th:field="*{iniFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('iniFecha')}" th:errors="*{iniFecha}"></div>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="finFecha" name="iniFecha" th:field="*{finFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="button" th:href="@{/oferta/list}">Lista sin filtrar</a>

    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('ofertasUser')}"
          th:action="@{/oferta/buscarOfertas/1/}"
          th:object="${oferta}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="iniFecha" name="iniFecha" th:field="*{iniFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('iniFecha')}" th:errors="*{iniFecha}"></div>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="finFecha" name="iniFecha" th:field="*{finFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/oferta/listOfertasUser}">Lista sin filtrar</a>

    </form>


    <form class="form-horizontal" th:if="${list != null && list.equals('misOfertas')}"
          th:action="@{/oferta/buscarOfertas/2/}"
          th:object="${oferta}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="iniFecha" name="iniFecha" th:field="*{iniFecha}"/>
<!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('iniFecha')}" th:errors="*{iniFecha}"></div>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="finFecha" name="iniFecha" th:field="*{finFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/oferta/listMisOfertas}">Lista sin filtrar</a>

    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('skpOfertas')}"
          th:action="@{/oferta/buscarOfertas/3/}"
          th:object="${oferta}" method="GET">

        <select id="sel1" type="value" th:field="*{skill}">
            <tr>
                <option th:each="s: ${skills}" th:value="${s.idSkill}">
                    <td th:text="${s.nombre}"></td>
                    <td th:text="${s.nivel}"></td>
                </option>
            </tr>
            <tr>
                <input type="date" class="form-control" value="00/00/0000"  id="finFecha" th:field="*{finFecha}"/>
                <td th:text="${#temporals.format(oferta.finFecha,'dd/MM/yyyy')}"></td>
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </tr>
            <tr>
                <input type="date" class="form-control"   id="finFecha" name="iniFecha" th:field="*{finFecha}"/>
                <!--                <td th:text="${#temporals.format(oferta.iniFecha,'yyyy/mm/dd')}"></td>-->
                <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>
            </tr>
        </select>
        <button type="submit" class="botonesAñadir">Buscar</button>
        <a th:if="${filtrado != null}" role="button" class="" th:href="@{/oferta/listSKP}">Lista sin filtrar</a>

    </form>
</div>
</body>
</html>