<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Oferta</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <form class="form-horizontal" th:if="${list != null && list == 'inicioOfertas'}"
          th:action="@{/oferta/buscarOfertas/0/}"
          th:object="${oferta}" method="GET">

        <div th:replace="../templates/fragments/contenidoCompartidoFiltro"></div>

    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('ofertasUser')}"
          th:action="@{/oferta/buscarOfertas/1/}"
          th:object="${oferta}" method="GET">

        <div th:replace="../templates/fragments/contenidoCompartidoFiltro"></div>

    </form>


    <form class="form-horizontal" th:if="${list != null && list.equals('misOfertas')}"
          th:action="@{/oferta/buscarOfertas/2/}"
          th:object="${oferta}" method="GET">

        <div th:replace="../templates/fragments/contenidoCompartidoFiltro"></div>
    </form>

    <form class="form-horizontal" th:if="${list != null && list.equals('skpOfertas')}"
          th:action="@{/oferta/buscarOfertas/3/}"
          th:object="${oferta}" method="GET">

        <div th:replace="../templates/fragments/contenidoCompartidoFiltro"></div>

    </form>
</div>
</body>
</html>