<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
<div id="header">
        <ul class="nav">
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/inicio/skpIndex}">Página principal</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/oferta/listSKP}">Ofertas</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/demanda/listSKP}">Demandas</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/colaboracion/listSKP}">Colaboraciones</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/skill/list}">Skills</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/usuario/list}">Usuarios</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/logout}">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
</body>
</html>