<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Oferta</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<form class="form-horizontal" action="#" >
    <div>
        <br>
        <ul class="prueba">
            <li><h2>Buscar por:</h2></li>
            <li><a>Skill:</a></li>
            <li>
                <input class="form-control" type="text" placeholder="Ej:ingles, oratoria, ..."
                       spellcheck="false">
            </li>
            <li><a>Fecha inicio:</a></li>
            <li> <input class="form-control" type="date" placeholder="Fecha inicio">
                <!--                        th:field="*{iniFecha}"/>--></li>
            <li><a>Fecha fin:</a></li>
            <li> <input class="form-control" type="date" placeholder="Fecha fin">
                <!--                        th:field="*{finFecha}"/></li>--></li>
        </ul>
        <br>
        <br>
        <a  href="add" class="btn btn-success left" role="button">Añade Oferta</a>
    </div>
    <!--    <div class="form-group row">-->
    <!--        <label class="control-label col-sm-2">Skill</label>-->
    <!--        <div class="col-sm-4">-->
    <!--            <input class="form-control" type="date" th:field="*{finFecha}"/>-->
    <!--            <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--<div class="form-group row">-->
    <!--    <label class="control-label col-sm-2">Fecha inicio</label>-->
    <!--    <div class="col-sm-4">-->
    <!--        <input class="form-control" type="date" th:field="*{iniFecha}"/>-->
    <!--        <div class="error" th:if="${#fields.hasErrors('iniFecha')}" th:errors="*{iniFecha}"></div>-->


    <!--    </div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
    <!--    <label class="control-label col-sm-2">Fecha final</label>-->
    <!--    <div class="col-sm-4">-->
    <!--        <input class="form-control" type="date" th:field="*{finFecha}"/>-->
    <!--        <div class="error" th:if="${#fields.hasErrors('finFecha')}" th:errors="*{finFecha}"></div>-->

    <!--    </div>-->
    <!--</div>-->
</form>
</body>
</html>