@charset "UTF-8";
img{
  width:50%;
  height:auto;
  display:block;
}
p1{
  text-align:center;
   margin-left: 30%;
   margin-right: 30%;
}

ul {
   display: flex;
    flex-direction: column;
    align-items: center;
}

li.green{
    text-align:right;
    display:flex
}

