<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>

    <title layout:title-pattern=$"CONTENT_TITLE">Skill Sharing</title>
</head>

<body>

<div th:replace="../templates/fragments/navPublic"></div>
<div class="container">
    <center><h1>Skill Sharing</h1></center>
    <div><img class="imgPrincipal" src="imagenes/imagenPrincipal.png" alt=""></div>
    <p>
        El Consejo de estudiantado de la Universidad Jaume I quiere impulsar la colaboración altruista entre el estudiantado de la UJI
        y mejorar los resultados y el aprendizaje de aquellos que necesitan apoyo en alguna materia o competencia transversal.
        Se ha pensado crear un portal web que permita al alumnado de la UJI pedir y ofrecer colaboración a otros alumnos
        sobre temas relacionados con sus materias o competencias docentes o deportivas.
    </p>
    <p>
        !Y este ha sido el resultado!
    </p>

    <footer class="footer">
        <hr>
        <p class="text-muted">UJI - Skill Sharing</p>
    </footer>
</div>
</body>
</html>