<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>

    <title layout:title-pattern=$"CONTENT_TITLE">Skill Sharing</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
</head>
<body>
<div th:replace="../templates/fragments/navSKP" style="margin: auto; top: auto"></div>
<div class="container">
    <h1 class="titulo">SKILL SHARING</h1>

    <div>
        <p>Los <b>SKP</b> son los alumnos elegidos para <b>administrar</b> el <b>correcto funcionamiento</b> de la aplicación.</p>
        <p>Habeis sido elegidos gracias a una <b>serie de virtudes</b> que desde el <b>consejo estudiantil</b> valoramos y
        consideramos que serán de <b>vital importancia</b> para el <b>desarrollo correcto del sistema</b>.</p>
        <img class="imgPrincipal" src="/imagenes/skp2.png" width="310" height="163" alt="">
        <img class="imgPrincipal" src="/imagenes/skp4.png" width="310" height="143" alt="">
        <p>Pero cuidado un gran poder, conlleva una <b>gran resposabilidad</b>...</p>
        <p>El nivel de éxito que alcanzará esta pequeña aplicación depende en gran medida de <b>ústedes</b>, cualquier institución considera estas acciones de vital importancia!</p>
        <p>Pues con todo ya sabido... <b>!!VAMOS A HACER QUE ESTO FUNCIONE!!</b></p>
    </div>
</div>

<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>