<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>

    <title layout:title-pattern=$"CONTENT_TITLE">Skill Sharing</title>
</head>

<body>

<div th:replace="../templates/fragments/navUser"></div>
<div class="container">
    <h1 class="titulo">SKILL SHARING</h1>

    <div><img class="imgPrincipal" src="/imagenes/imagenPrincipalUser.png" width="310" height="163" alt=""></div>
    usuario
    <footer class="footer">
        <hr>
        <p class="text-muted">UJI - Skill Sharing</p>
    </footer>
</div>
</body>
</html>