<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>

    <title layout:title-pattern=$"CONTENT_TITLE">Skill Sharing</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
</head>

<body>

<div th:replace="../templates/fragments/navUser"></div>
<div class="container">
    <h1 class="titulo">SKILL SHARING</h1>

    <div>
        <p><b>Adquirir conocimientos</b> de lo más diversos es algo que se valorará <b>positivamente</b> en tu futura <b>vida laboral</b>.</p>
        <img class="imgPrincipal" src="/imagenes/imagen.png" width="310" height="163" alt="">
        <img class="imgPrincipal" src="/imagenes/puzzle.png" width="310" height="143" alt="">
        <p>Mediante <b>Skill Sharing</b> un <b>nuevo mundo de posibilidades</b> se abre ante tí...</p>
        <p>Te imaginas que a la nueva estudiante china recién llegada a tu universidad le enseñes
            tus <b>habilidades culinarias</b> locales, a cambio de una toma de contacto con el <b>idioma chino</b></p>
        <img class="imgPrincipal" src="/imagenes/cocinero.png" width="310" height="163" alt="">
        <img class="imgPrincipal" src="/imagenes/chinoimg.png" width="310" height="163" alt="">
        <p>¡¡Esto y mucho más se puede hacer en <b>Skill Sharing</b> con tan solo unos cuantos clicks de ratón!!</p>
    </div>
    <footer class="footer">
        <hr>
        <p class="text-muted">UJI - Skill Sharing</p>
    </footer>
</div>
</body>
</html>