<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Oferta</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>Nova Oferta</h2>
    <form class="form-horizontal" action="#" th:action="@{/oferta/add}"
          th:object="${oferta}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="estudiante">Nombre Estudiante:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="estudiante" th:field="*{estudiante}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="horas">Horas:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="horas" th:field="*{horas}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="iniFecha">Fecha de Inicio:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="iniFecha" th:field="*{iniFecha}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="finFecha">Fecha de Final:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="finFecha" th:field="*{finFecha}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="skill">Skill:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="skill" th:field="*{skill}"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="sel1">Nivel:</label>
            <select class="form-control" id="sel1" th:field="*{nivel}">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Avanzado">Avanzado</option>
            </select>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Afegeix Oferta</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>