<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Administrar Ofertas</title>
    <link rel="shortcut icon" href="/imagenes/iconoUji.ico">
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Ofertas de los Usuarios</h1>

    <div th:replace="../templates/fragments/filtroOfertas"></div>

    <div th:if="${eliminado != null}" class="alert alert-success text-center alerta" role="alert">
        <div class="text-center"><p>Se ha <b>eliminado</b> correctamente la oferta elegida </p>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(ofertas)}" layout:fragment="content">
        Nadie oferta ninguna clase.
    </div>

    <div>
        <section class="listado" th:if="${not #lists.isEmpty(ofertas)}">
            <article th:each="oferta: ${ofertas}" class="anuncio">
                <figure class="estudiante">
                    <img th:src="${oferta.rutaImgSkill}" class="fotoSkill">
                </figure>
                <div class="info">
                    <hgroup>
                        <table>
                            <tr><td><img th:src="${oferta.rutaImg}" class="fotoPerfil"></td></tr>
                            <tr><td><h5 class="nombre" th:text="${oferta.estudiante}"></h5></td></tr>
                        </table>
                        <div class="descripcion">
                            <p th:text="${{oferta.descripcion}}"></p>
                        </div>
                    </hgroup>
                </div>
                <div class="botones">
                    <table>
                        <tr><td><p class="etiquetaHoras">Horas: </p></td> <td><p class="horas" th:text="${{oferta.horas}}"></p></td></tr>
                        <tr><td><p class="etiquetaInicio">Inicio: </p></td><td><p class="iniFecha" th:text="${oferta.iniFecha}"></p></td></tr>
                        <tr><td><p class="etiquetaFinal">Final: </p></td> <td><p class="finFecha" th:text="${oferta.finFecha}"></p></td></tr>
                        <tr><td><p class="etiquetaSkill">Skill: </p></td> <td><p class="nombreSkill" th:text="${{oferta.nombreSkill}}"></p></td></tr>
                        <tr><td><p class="etiquetaNivel">Nivel: </p></td><td><p class="nivelSkill" th:text="${oferta.nivelSkill}"></p></td></tr>
                    </table>
                    <div>
                        <a th:href="@{/oferta/delete/{idOferta}(idOferta=${oferta.idOferta})}" class="btn btn-danger" role="button">Anular</a>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
<div th:replace="../templates/fragments/navSKP"></div>
<footer class="footer">
    <hr>
    <p class="text-muted">UJI - Skill Sharing</p>
</footer>
</body>
</html>