<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Ofertas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navPublic"></div>
<div class="container">
    <h1 style="float: left">Ofertas de los Estudiantes</h1>

    <div th:if="${#lists.isEmpty(ofertas)}" layout:fragment="content">
    Nadie oferta ninguna clase.
        </div>

    <table th:if="${not #lists.isEmpty(ofertas)}" class="table table-striped">
        <thead>
        <tr>
            <th>Estudiante</th>
            <th>Skill</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Final</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="oferta: ${ofertas}">
                <td th:text="${oferta.estudiante}"></td>
                <td th:text="${{oferta.nombreSkill}}"></td>
                <td th:text="${{oferta.nivelSkill}}"></td>
                <td th:text="${oferta.horas}"></td>
                <td th:text="${oferta.iniFecha}"></td>
                <td th:text="${{oferta.finFecha}}"></td>
                <td th:text="${{oferta.descripcion}}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Ofertas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div th:replace="../templates/fragments/navPublic"></div>
<div class="container">
    <h1>Ofertas de los Estudiantes</h1>

    <div th:if="${#lists.isEmpty(ofertas)}" layout:fragment="content">
        Nadie oferta ninguna clase.
    </div>

    <div>
        <section class="listado" th:if="${not #lists.isEmpty(ofertas)}">
            <article th:each="oferta: ${ofertas}" class="anuncio">
                <figure class="estudiante">
                    <img src="/imagenes/skill/Yoga.jfif" class="fotoSkill">
                </figure>
                <div class="info">
                    <hgroup>
                        <table>
                            <tr><td><img src="/imagenes/fotoPerfil.jfif" class="fotoPerfil"></td></tr>
                            <tr><td><h5 class="nombre" th:text="${oferta.estudiante}"></h5></td></tr>
                        </table>
                        <div class="skill">
                            <table>
                                <tr><td><p class="skill">Skill: </p></td> <td><p class="nombreSkill" th:text="${{oferta.nombreSkill}}"></p></td></tr>
                                <tr><td><p class="nivel">Nivel: </p></td><td><p class="nivelSkill" th:text="${oferta.nivelSkill}"></p></td></tr>
                                <tr><p th:text="${{oferta.descripcion}}"></p></tr>
                            </table>
                        </div>
                    </hgroup>
                </div>
                <div class="botones">
                    <table>
                        <tr><td><p class="horas">Horas: </p></td> <td><p class="horas" th:text="${{oferta.horas}}"></p></td></tr>
                        <tr><td><p class="inicio">Inicio: </p></td><td><p class="iniFecha" th:text="${oferta.iniFecha}"></p></td></tr>
                        <tr><td><p class="final">Final: </p></td> <td><p class="finFecha" th:text="${oferta.finFecha}"></p></td></tr>
                    </table>
                    <div>
                        <a class="btn btn-secondary" role="button" th:href="@{/loginColaboraOferta/{idOferta}(idOferta=${oferta.idOferta})}">Colabora</a>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>