<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Gestionar Ofertas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="../templates/fragments/navUser"></div>
<h1>Mis Ofertas</h1>
<div th:replace="../templates/fragments/pruebas"></div>
<div class="container">


    <div th:if="${#lists.isEmpty(misOfertas)}" layout:fragment="content">
        No tienes ofertas.
    </div>

    <table th:if="${not #lists.isEmpty(misOfertas)}" class="table table-striped">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Final</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oferta: ${misOfertas}">
            <td th:text="${{oferta.nombreSkill}}"></td>
            <td th:text="${{oferta.nivelSkill}}"></td>
            <td th:text="${oferta.horas}"></td>
            <td th:text="${oferta.iniFecha}"></td>
            <td th:text="${{oferta.finFecha}}"></td>
            <td th:text="${{oferta.descripcion}}"></td>
            <td> <a th:href="@{/oferta/update/{idOferta}(idOferta=${oferta.idOferta})}" class="btn btn-warning" role="button">Edita</a></td>
            <td><a th:href="@{/oferta/delete/{idOferta}/(idOferta=${oferta.idOferta})}" class="btn btn-danger" role="button">Esborra</a></td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añade Oferta</a>
</div>
</body>
</html>
