<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Oferta</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica Oferta</h2>
<form action="#" th:action="@{/oferta/update}"
      th:object="${oferta}" method="post">
    <table>
        <tr>
            <td><label>Estudiante</label></td>
            <td><input type="text" th:field="*{estudiante}" /></td>
        </tr>
        <tr>
            <td><label>Horas</label></td>
            <td><input type="number" th:field="*{horas}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Inicio</label></td>
            <td><input type="date" th:field="*{iniFecha}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de Final</label></td>
            <td><input type="date" th:field="*{finFecha}" /></td>
        </tr>
        <tr>
            <td><label>Skill</label></td>
            <td><input type="String" th:field="*{skill}" /></td>
        </tr>
        <tr>
            <td><label>Nivel</label></td>
            <td><input type="String" th:field="*{nivel}" /></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica Oferta" /></td>
        </tr>
    </table>
</form>
</body>
</html>